*.bin
jupyter.log
.virtual_documents
*.cache
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.png
*.csv
*.parquet
*.npy
.ipynb_checkpoints
notebook/wandb
notebook/.ipynb_checkpoints
notebook/nohup.out
wandb
.venv
input
output
